body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #ffffff; /* White */
}

header {
    background: #3498db; /* Bright Blue */
    color: #ffffff; /* White */
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5rem;
}

/* Center the text inside the header container */
header .container p {
    font-size: 1.2rem;
    text-align: center;
}

nav {
    background: #2980b9; /* Darker Blue */
    color: #ffffff; /* White */
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: #ffffff; /* White */
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.section {
    padding: 2rem;
    margin: 1rem auto;
    background: #ecf0f1; /* Light Gray */
    max-width: 800px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.section h2 {
    margin-bottom: 1rem;
    color: #3498db; /* Bright Blue */
}

.project, .experience {
    margin-bottom: 1.5rem;
}

footer p {
    background: #3498db; /* Bright Blue */
    color: #ffffff; /* White */
    text-align: center;
    padding: 1rem 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

/* Justify all paragraphs */
p {
    text-align: justify;
}

/* Center all images */
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Center the video container */
.video-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

/* Style for the vertical line */
.vertical-line {
    border-left: 2px solid #2980b9; /* Darker Blue */
    height: auto;
    margin: 0 20px;
}

/* Style for the vertical line */
.projects-year {
    border-left: 1px solid #bdc3c7; /* Gray */
    padding-left: 10px;
    margin-left: 10px;
}